.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
screenshots/
iSquareDesk/Qt_source/
Qt_source/
Resources/CONTEXT FOR GPT-5
iSquareDesk/Resources/CONTEXT FOR GPT-5
